
  .event-heading h2 {
    text-align: center;
    padding-top:6% ;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Orbitron", serif;
    
  }
  .event-heading p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  
  }
  
  @media (max-width: 480px) {
   
    
    .event-heading h2 {
      padding-top: 22%;
      font-size: 20px;
    }
    .event-heading p {
      font-size: 15px;
    }
  }
  